#pills-tab-approvepost li .nav-link.active{background-color:#746e66;}
#pills-tab-approvepost li a{font-size:14px;}
.table-striped tbody tr:nth-of-type(even) td article{
	background:#e8e4dd
}
#allLinksTable .meta{padding-bottom:2px;}
#ajaxload{
	max-width: 140px;
    display: block;
    margin: 150px auto;
    position: relative;
    left: 0;
    right: 0;
}
#ajaxBg{
position:absolute;display:block;background:#000;opacity:0.5;width: 47%;height: 80%;
}
#comment-text::placeholder{text-decoration:italic;font-size:14px;}
#commentNumberOfLikes{border-radius:2px;padding:5px 8px 5px 8px;background-color:#666;width:auto;max-width: 140px;display: inline-block;}
#commentNumberOfLikes i,
#commentNumberOfLikes span{color:#fff}
#numberOfLikes{padding-left:4px;}
#header-dropdown .dropdown-menu{overflow-y:scroll;overflow-x:hidden;max-height:400px;max-width:350px;margin-left: -150px;margin-top: 10px;background-color:#fff; color:#666;box-shadow:none;border:1px solid #909090;}
#header-dropdown .dropdown-menu a{color:#666;white-space:normal; width: 350px;border-bottom: 1px solid #ccc;}
#header-dropdown .dropdown-menu a:hover,
#header-dropdown .dropdown-menu a:active{color:#666;background:#dedede;}
#header-dropdown .dropdown-toggle::after{display:none !Important}
#header-dropdown .dropdown-menu .dropdown-item:after{display:none}
#header-dropdown .dropdown-menu::-webkit-scrollbar {
    width: 0.3em;
}
 
#header-dropdown .dropdown-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
}
 
#header-dropdown .dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #888;
}
#dropdown-text .dropdown-item .post-header .image-holder{
	max-width:80px;
	float: left;
	width: 112px;
	margin-right: 10px;
}
#dropdown-text .dropdown-item .post-header .image-holder img{
	max-width:70px;
	height:auto;
	border-radius: 40px;
    border: 1px solid #999;
}
#dropdown-text .dropdown-item .post-header .text {
    overflow: hidden;
}
#dropdown-text .dropdown-item .post-header .text p{
    max-width: 90%; word-break: break-all;
}
#dropdown-text  .row .col-xl-3 img{
	width: 100%;
    height: 60px;
	border-radius: 50%;
    border: 1px solid #999;
}

#chat-rooms h2 {
    color: #fff;
    background-color: #746e66;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0;
    text-align: center;
    padding: 0.8rem;
}
#chat-rooms .chat-room-holder{
	background-color: #faf9f5;
    border: 1px solid #cdcac4;
}
#chat-rooms .chat-room-holder ul{
	padding: 0;
    margin: 0;
    list-style: none;
    font-size: 11px;
    line-height: 14px;
	max-height: 400px;
    overflow-y: auto;
}
#chat-rooms .chat-room-holder ul li {
    padding: 18px 10px;
    overflow: hidden;
    display: block;
    background: #edebe7;
}
#chat-rooms .chat-room-holder ul li:nth-child(even) {
    background-color: #fafaf6;
}
#chat-rooms .chat-room-holder ul li .left-col {
    float: left;
    width: 60%;
}
#chat-rooms .chat-room-holder ul li .right-col {
    float: left;
    width: 40%;
    text-align: right;
}
#chat-rooms .chat-room-holder ul li .left-col h4 {
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    margin: 0;
    position: relative;
}

#chat-rooms .chat-room-holder ul::-webkit-scrollbar {
    width: 0.8em;
}
 
#chat-rooms .chat-room-holder ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}
 
#chat-rooms .chat-room-holder ul::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 30px 30px 30px 30px;
}    
#chat-msg{
	overflow-y: auto;
	overflow-x: hidden;
    max-height: 375px;
}
#chat-msg::-webkit-scrollbar {
    width: 0.8em;
}
 
#chat-msg::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
}
 
#chat-msg::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 30px 30px 30px 30px;
}
#chat-msg img{
	    width: 100%;
    height: auto;
	border-radius:50%;
}
#chat-msg .chat-time{
    top: 20px;
	text-align:left;
}
#chat-msg .chat-text{
	white-space: pre;
    padding-top: 0px;
}
#chat-area{    margin-top: 15px;}
#chat-area button{padding: 21px;}
#chat-area .col-lg-10{padding-right:0}
#chat-area .col-lg-2{padding-left:10px}
#listOfFriends{
	padding: 20px 10px 20px 10px;
    border-radius: 4px;
    border: 1px solid #999;
}
#listOfFriends  .col-xs-12{
	margin-bottom: 20px;
}
#listOfFriends  .col-xs-12 .row{
	width: 100%;
    padding: 10px 0px 10px 0px;
    margin-left: 0;
    border: 1px solid #909090;
}

#listOfFriends  .col-xs-12 .row .col-xs-6 .img-friend-container{
	width: 100%;
    height: 100px;
}
#listOfFriends  .col-xs-12 .row .col-xs-6 img{
	width: 100%;
    height: 100%;
    border: 1px solid #999;
}
#header-dropdown .dropdown-menu div{color:#666;white-space:normal; width: 350px;}
#header-dropdown .dropdown-menu div.dropdown-item{background-color:transparent !important;    border-bottom: 1px solid #ccc;}


#userWallStatus button{
	position:absolute;
	top:0;
	bottom:0;
}
