body {
	color: #3e3d3d;
	background-color: #e5e1da;
	border-top: #51c7ed solid 3px;
	font-size: 12px;
	line-height: 1.1;
	font-family: 'Open Sans', sans-serif;
}
a{
	color: #625d56;
}
a,
button{
	outline: none !important;
}
a:hover{
	text-decoration: none;
	color: #51c7ed;
}
p{
	line-height: 1.2;
}
#top-wrap {
	background: #fcf9f3;
}
#top-wrap:after{
	content:'';
	display: block;
	clear: both;
}
#top-inner {
	overflow: auto;
}
#navcontainer {
	min-width:714px;
	overflow:hidden;
	font-size: 12px;
    font-weight: 700;
}
.navbar{
	padding:0;
}
.navbar-brand{
	margin: 0;
	padding: 0;
}
.navbar-brand img{
	display: block;
}
.navbar .nav-item {
	display: inline-block;
}
.navbar-light .navbar-nav .nav-link{
	color: #3e3d3d;
}
.navbar .nav-link {
	padding: 2.3rem 1.9rem !important;
	color: #3e3d3d;
	text-decoration: none;
	float:left;
	font-size: 11px;
	line-height: 15px;
	font-weight: 600;
	letter-spacing: 1px;
}
.navbar .nav-link:hover{
	color: #fff !important;
	background: url("../images/arrow.jpg") no-repeat 50% 0 #746e66;
}
.navbar .nav-item.active {
	background: url("../images/arrow.jpg") no-repeat 50% 0 #746e66;
	color: #fff !important;
}
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link{
	color: #fff;
}
.top2-wrap {
	background: #f6f3ed;
	margin: auto;
	border-top: #dbd8d3 solid 1px;
	border-bottom: #dbd8d3 solid 1px;
}
.top2-wrap.second{
	margin-top: -1px;
}
.top2-wrap:after,
.navcontainer2:after{
	content: '';
	display: block;
	clear: both;
}
#top2-inner {
	overflow:hidden;
}
.navcontainer2 {	
	font-size: 11px;
    font-weight: 700;
}
.navlist2 {
	list-style: none;
	float:left;
	padding: 0;
	margin: 0;
}
.navlist2 li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.navlist2 li a {
	padding: 18px 13px;
	color: #3e3d3d;
	text-decoration: none;
	float:left;
	font-weight: 400;
}
.navlist2 li a:hover {
	font-weight: 700;
}
.navlist2 li a .badge{
	top: 8px;
}
.nsfw {
	float:right;
	color: #eb9e40;
	padding: 18px 0;
	text-decoration: none;
}
.nsfw:hover{
	color: #eb9e40;
	opacity: 0.8;
}
.nsfw2 {
	color: #fff !important;
	background: #eb9e40;
	border-radius: 10px;
	padding: 0 8px;
}
#dash {
	width: 220px;
	float:right;
	padding: 30px 0;
}
.navbar-links{
	padding: 0 18px 0 10px;
}
.name {
	padding: 11px 7px;
    font-size: 11px;
  	color: #7d776f;
	font-weight: 600;
}
#dp,
.name{
	display: inline-block;
	vertical-align: middle;
}
.button-link {
	color: #746e66;
	display: inline-block;
	position: relative; 
	padding: 2px 5px; 
}
.badge {
	background-color: #ff5a00;
	border:1px solid #fff;
	border-radius: 2px;
	color: white;
	padding: 2px 6px;
	font-size: 9px;
	line-height: 10px;
	position: absolute;
	top: -8px;
	right: -8px;
	font-weight: bold;
}
.dropdown-menu{
	padding: 0;
	border:none;
	border-radius: 0;
	background-color: #625d56;
	box-shadow: 0 0 10px 0 rgba(98,93,86,0.8);
}
.dropdown-menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.dropdown-menu ul li{
	display: block;
}
.dropdown-menu ul li:hover,
.dropdown-menu ul li a:hover{
	outline:none !important;
}
.dropdown-menu ul li a{
	display: block;
}
.dropdown-menu ul li:first-child .dropdown-item{
	border:none;
}
.dropdown-menu.dropdown-menu-right{
	left: auto;
	right: 0;
	width: 178px;
	margin-top: 15px;
}
.dropdown-menu .dropdown-item{
	background: transparent;
	font-size: 11px;
	line-height: 14px;
	color: #fff;
	padding: 0.60rem 1rem;
	border-top: 1px solid #7d7973;
	outline:none !important;
	border:none;
}
.dropdown-menu .dropdown-item:after {
	bottom: 100%;
	left: 62%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(98, 93, 86, 0);
	border-bottom-color: #625d56;
	border-width: 8px;
	margin-left: -8px;
}
.lang{
	float: right;
	padding: 35px 20px;
	margin: 0;
	list-style: none;
}
.lang li{
	float: left;
	margin: 0 0 0 10px;
}
.lang li a{
	display: block;
}
.top2-wrap .dropdown-menu .dropdown-item:after{
	left: 20%;
}
.top-one:after{
	content: "";
	display: block;
	clear: both;
}
.dropdown-menu .dropdown-item:hover{
	background-color: #94b71b;
	outline:none !important;
}
.dropdown-toggle{
	color: #4f4e4d;
}
.dropdown-toggle:after{
	margin-top: 5px; 
}
#mian{
	background-color: #fdf9f2;
	overflow:hidden;
	padding-bottom: 100px;
}
#sidebar{
	float: right;
	width: 306px;
	background-color: #f3efe8;
}
.widget{
	overflow: hidden;
}
.widget h2{
	color: #fff;
	background-color: #746e66;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 0;
	text-align: center;
	padding: 0.8rem;
}
.widget-holder{
	overflow: hidden;
	padding: 15px;
}
.search-form-area{
	background: #fff;
	overflow: hidden;
	border:1px solid #ccc9c3;
}
.search-form-area .input-holder{
	float: left;
	width: calc(100% - 52px);
}
.search-form-area .btn{
	float: left;
	width: 52px;
	text-align: center;
	background-color: #fff;
	border-radius: 0;
	line-height: 1.4;
	color: #67635c;
}
.search-form-area .btn:hover{
	background-color: #51c7ed;
	color: #fff;
}
.search-form-area .form-control{
	border-radius: 0;
	border:none;
	border-right:1px solid #ccc9c3;
}
.search-form-area .form-control:focus,
.search-form-area .btn:focus{
	box-shadow: none;
}
.search-form-area .btn:hover{
	cursor: pointer;
}
.social-links{
	padding: 15px 0 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
	text-align: center;
}
.social-links li{
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
}
.social-links li a{
	width: 27px;
	height: 27px;
	display: block;
	background-color: #4f4f4f;
	color: #fff;
	padding:7px 0 0; 
}
.social-links li a:hover{
	background-color: #fff;
	color: #4f4f4f;
}
#content{
	overflow: hidden;
	background-color: #fdf9f2;
	padding: 25px;
}
.head-tagline{
	font-size: 14px;
	line-height: 17px;
	color: #625d56;
}
.content-holder{
	overflow: hidden;
	background-color: #f1ece5;
	padding: 15px;
	margin-bottom: 1rem;
}
h3,
label{
	color: #625d56;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 14px;
	font-weight: 600;
}
label{
	margin-bottom: 7px;
	display: block;
}
.label-tag{
	font-style: italic;
	color: #a29d96;
	font-weight: 400;
}
textarea{
	resize:none;
}

.label-area{
	display: block;
	margin-bottom: 7px;
}
.label-area label{
	float: left;
}
.check-area{
	float: right;
}
.form-check-label,
.form-check-input{
	float: right;
	position: static;
}
.form-check-input{
	margin-left: 6px;
	margin-top: 2px;
}
.form-control{
	border: 1px solid #c1bcb5;
	font-size: 12px;
	line-height: 2;
}
.form-control:focus{
	box-shadow: 0 0 0 0.2rem rgba(234,152,52,.25);
	border-color:rgba(234,152,52,.25);
}
.pick-tag{
	display: none;
}
.meta-links li label img{
	opacity: 0.5;
}
.pick-tag:checked + label img {
	opacity: 1;
}
.pick-tag:checked + label:after{
	opacity: 1;
}
.form-group{
	clear: both;
}
.meta-links:after{
	content: "";
	display: block;
	clear: both;
}
.meta-links{
	padding:10px 0;
	margin: 0; 
	list-style: none;
	width: 100%;
	clear: both;
}
.meta-links li{
	float: left;
	font-size: 20px;
	margin: 0 15px 0 0; 
}
.tabset{
	overflow: hidden;
	padding: 0;
	margin: 0 0 -2px;
	list-style: none;
	display: table;
	table-layout: fixed;
	width: 100%;
	border:1px solid #dcdbd7;
}
.tabset li{
	display: table-cell;
	vertical-align:middle;
	text-align: center;
}
.tabset li a{
	display: block;
	background: #cbc9c6;
	padding: 0.8rem 0.3rem;
}
.tabset.small li a{
	padding:0.4rem 0.3rem;
	background-color: #ebeae8;
}
.tabset.small li a.active{
	background: #807b73;
}
.tabset li a.active{
	background: #746e66;
	color: #fff;
}
.label-area .btn{
	margin-bottom: 9px;
}
.btn.btn-sm{
	font-size: 11px;
	padding: 0.15rem 0.4rem;
}
.side-post-r{
	overflow: hidden;
}
.side-post-r .post{
	overflow: hidden;
	position: relative;
	margin: 6px 0;
}
.side-post-r .post a:hover .caption{
	background-color: rgba(0,0,0,0.8);
}
.side-post-r .post img{
	width: 100%;
	height: auto;
	display: block;
}
.tab-content-holder{
	background-color: #faf9f5;
	border:1px solid #cdcac4;
	padding: 10px;
}
.like-tag{
	border-radius: 3px;
	overflow: hidden;
	position: absolute;
	bottom: 120%;
	left: 10px;
	text-align: center;
	font-size: 10px;
	text-align: center;
	padding: 0.2rem;
	color: #fff;
	background-color: #51c7ed;
}
.like-tag:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(234, 152, 52, 0);
	border-top-color: #51c7ed;
	border-width: 5px;
	margin-left: -5px;
}
.side-post-r .post .p-caption p{
	margin: 0;
}
.side-post-r .post .p-caption{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	font-size: 12px;
	padding: 10px;
}
.js-tab-hidden {
	display:block !important;
	left:-9999px !important;
	position: absolute !important;
	top:-9999px !important;
}
.post-view{
	width: 100%;
	display: block;
	clear: both;
	padding: 7px;
	overflow: hidden;
	border:1px solid #e1dcd5;
}
.post-view .image-area{
	float: left;
	width: 143px;
	margin: 0 10px 0 0;
}
.post-view .text{
	overflow: hidden;
}
.post-view-meta{
	overflow: hidden;
	padding: 0.3rem;
	font-size: 9px;
	line-height: 12px;
}
.post-view-meta p{
	margin-bottom: 0;
}
.like-counter{
	border-radius: 3px;
	background: #ada8a1;
	color: #fff;
	text-align: center;
	margin-bottom: 5px;
	padding: 0.1rem 0.3rem;
	font-size: 9px;
	line-height: 12px;
	display: inline-block;
	vertical-align: top;
}
.custom-select{
	width: 100%;
}
.switch{
	overflow: hidden;
}
.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}
.form-group {
    margin-bottom: 0.4rem;
}
.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
	padding: 2px;
	width: 43px;
	height: 20px;
	border: 2px solid #d8d0c3;
	background-color: #9db736;
	border-radius: 3px;
	overflow: hidden;
}
.cmn-toggle + label:before,
.cmn-toggle + label:after {
	display: block;
	position: absolute;
	top: 1px;
	left: 1px;
	bottom: 1px;
	content: "";
	border-radius: 3px;
}
.cmn-toggle + label:before {
	right: 1px;
}
.cmn-toggle + label:after {
	border: 0px;
	width: 15px;
	background-color: #fff;
}
.cmn-toggle:checked + label:after {
	background-color: #fff;
}
.cmn-toggle:checked + label:after {
	margin-left: 22px;
}
h6{
	margin-bottom: 10px;
	font-size: 10px;
	line-height: 11px;
}
.btn-dark{
	background: #625d56;
	border:none;
}
.meta-links li label{
	position: relative;
	cursor: pointer;
}
.meta-links li label:after{
	content:"\f00c";
	font-family:'FontAwesome';
	position: absolute;
	top: -10px;
	right: -3px;
	background: #93ac3a;
	border-radius: 100%;
	width: 9px;
	height: 9px;
	font-size: 4px;
	text-align: center;
	line-height: 5px;
	padding-top: 3px;
	padding-left: 1px;
	color: #fff;
	opacity: 0;
}
.upcoming-links{
	overflow: hidden;
}
.upcoming-links .post{
	overflow: hidden;
	background: #f2eee8;
	padding: 10px 15px;
}
.upcoming-links .post:nth-child(even){
	background: #e8e4dd;
}
.upcoming-links .post .image-holder{
	float: left;
	width: 112px;
	margin-right: 10px;
}
.upcoming-links .post .image-holder img{
	width: 100%;
	height: auto;
}
.upcoming-links .post .text{
	overflow: hidden;
}
.upcoming-links .post p{
	max-width: 70%;
}
.post-content-area{
	overflow: hidden;
}
.post-right-col{
	float: right;
	width: 20%;
	padding-left: 10px;
}
.by{
	display: block;
	text-align: right;
	color: #625d56;
	width: 100%;
	clear: both;
}
.post-holder{
	overflow: hidden;
}
.post-header{
	overflow: hidden;
}
.post-controls{
	float: right;
	width: 20%;
}
.post-meta{
	overflow: hidden;
	margin-bottom: 12px;
	padding-bottom: 5px;
}
.meta{
	overflow: hidden;
	padding:0;
	margin: 0; 
	list-style: none;
}
.meta.last{
	text-align: right;
}
.meta.last li{
	float: right;
	font-size: 16px;
	padding: 0 5px;
}
.meta li{
	float: left;
	padding: 0 10px 5px 0;
}
.meta li a{
	color: #625d56;
}
.post-meta a{
	color: #625d56;
}
.post-meta a:hover,
.meta li a:hover .fa{
	color: #51c7ed;
}
.meta li .fa{
	margin-right: 5px;
}
.k-multiselect-wrap{
	font-size: 12px;
	line-height: 2rem;
	min-height: 3.13em;
}
.k-popup.k-calendar-container, .k-popup.k-list-container{
	background: #fff;
	font-size: 12px;
	line-height: 15px;
	border-color:#c9c5be;
}
.k-multiselect-wrap li{
	border-radius: 3px;
	border:1px solid #b1ada7;
	background: #dfdcd7;
	color: #746e66;
	font-size: 12px;
	line-height: 15px;
	margin: 0 4px 0 0;
}
.btn-area:after{
	content: "";
	display: block;
	clear: both;
}
.btn-area{
	padding: 10px 0;
}
.right-align .btn{
	float: right;
	margin-left: 10px;
}
.btn{
	font-size: 12px;
	font-weight: 700;
	cursor: pointer;
	padding: 0.575rem .75rem;
}
.k-multiselect-wrap{
	padding-left: 8px;
}
.k-autocomplete>.k-i-close, .k-multiselect>.k-multiselect-wrap>.k-i-close{
	margin-top: 5px;
}
.k-reset{
	padding: 8px 0 0 0;
}
.k-animation-container .k-popup .k-item{
	font-size: 12px;
	line-height: 15px;
}
html body .k-widget {
	font-size: 1.2rem;
}
html body .k-widget .k-widget.k-datepicker {
	font-size: 12px;
}
html body .k-widget .k-widget.k-datepicker .k-picker-wrap {
	border-radius: 0px;
	border-color: #d7d7d7;
}
html body .k-widget .k-widget.k-datepicker .k-picker-wrap .k-select {
	border-color: #d7d7d7;
	background-color: #ffffff;
	border-radius: 0px;
}
html body .k-widget .k-animation-container .k-calendar-container.k-group {
	border-color: #d7d7d7;
}
html body .k-widget .k-animation-container .k-calendar-container {
	background-color: #ffffff;
	box-shadow: none;
}
html body .k-widget .k-animation-container .k-calendar-container .k-calendar th {
	background-color: #f2f2f2;
	border-color: transparent;
}
html body .k-widget .k-animation-container .k-calendar-container .k-calendar .k-header {
	border-color: #d7d7d7;
	background-color: #ffffff;
}
html body .k-widget .k-animation-container .k-calendar-container .k-calendar .k-header .k-link {
	/* text in header */
	color: #000000;
}
html body .k-widget .k-animation-container .k-calendar-container .k-calendar .k-header .k-link:hover {
	background-color: #ffffff;
}
html body .k-widget .k-animation-container .k-calendar-container .k-calendar .k-content {
	/* day of week text */
	color: #000000;
}
html body .k-widget .k-animation-container .k-calendar-container .k-calendar .k-content thead tr {
	border-color: red;
}
html body .k-widget .k-animation-container .k-calendar-container .k-calendar .k-content tbody tr .k-link {
	/* color of day numbers */
	color: #000000;
	border-radius: 0px;
}
html body .k-widget .k-animation-container .k-calendar-container .k-calendar .k-content tbody tr .k-state-hover {
	border-radius: 0px;
	border-color: #c1d7ee;
	background-color: #c1d7ee;
	box-shadow: none;
	background-image: none;
}
html body .k-widget .k-animation-container .k-calendar-container .k-calendar .k-content tbody tr .k-state-selected {
	border-radius: 0px;
	border-color: #4397d2;
	background-color: #4397d2;
	box-shadow: none;
	/* selected date */
}
html body .k-widget .k-animation-container .k-calendar-container .k-calendar .k-content tbody tr .k-state-selected .k-link {
	color: #ffffff;
	background-color: #4397d2;
}
html body .k-widget .k-animation-container .k-calendar-container .k-calendar .k-footer .k-link {
	/* color of day, month, year in footer */
	color: #000000;
}
html body .k-widget.k-grid {
	border-color: #d7d7d7;
	font-family: "Noto Sans";
	font-size: 12px;
	color: #000000;
}
html body .k-widget.k-grid .k-grouping-header {
	border-color: transparent;
}
html body .k-widget.k-grid .k-grid-header {
	background-color: #d7d7d7;
	background-image: none;
	border-color: transparent;
	font-size: 11px;
	}
html body .k-widget.k-grid .k-grid-header .k-grid-header-wrap {
	/* vertical grid line above vertical scrollbar*/
	border-color: #ffffff;
}
html body .k-widget.k-grid .k-grid-header .k-grid-header-wrap table thead tr .k-header {
	background-color: #d7d7d7;
	border-color: #ffffff;
	background-image: none;
	/* header labels */
}
html body .k-widget.k-grid .k-grid-header .k-grid-header-wrap table thead tr .k-header .k-link {
	color: blue;
}
html body .k-widget.k-grid .k-grid-content table tbody .k-alt {
	background-color: #ffffff;
}
html body .k-widget.k-grid .k-grid-content table tbody .k-state-selected,
html body .k-widget.k-grid .k-grid-content table tbody .k-state-selected:hover {
	background-color: #4397d2;
	background-image: none;
}
html body .k-widget.k-grid .k-grid-content table tbody tr td {
	border-left-color: transparent;
	border-right-color: transparent;
}
html body .k-widget.k-grid .k-grid-content table tbody tr:hover {
	background: #c1d7ee;
}
html body .k-widget.k-grid .k-grid-pager.k-pager-wrap {
	color: #333333;
	border-color: transparent;
	background-color: #d7d7d7;
	background-image: none;
}
html body .k-widget.k-grid .k-grid-pager.k-pager-wrap .k-pager-nav {
	border-color: transparent;
}
html body .k-widget.k-grid .k-grid-filter.k-state-active {
	background-color: transparent;
}
html body .k-widget.k-treeview .input[type="checkbox"] {
	display: none;
}
html body .k-widget.k-treeview .k-checkbox + input[type="checkbox"] {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	cursor: pointer;
	border-color: #b0b0b0;
	background: white;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: white;
}
html body .k-widget.k-treeview .k-checkbox + input[type="checkbox"]:checked {
	background-color: #005a8c;
	border-color: #005a8c;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: white;
}
.k-checkbox-label {
	line-height: 1em;
}
.k-checkbox-label:after {
	border-color: #b0b0b0;
	background: #ffffff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: white;
}
.k-checkbox:not(:checked):not(:disabled) + .k-checkbox-label:hover:after,
.k-checkbox:checked:not(:disabled) + .k-checkbox-label:hover:after {
	background: #c1d7ee;
	border-color: #005a8c;
	color: #005a8c;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-width: 1px;
}
.k-checkbox:checked + .k-checkbox-label:after {
	background-color: #005a8c;
	border-color: #005a8c;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #ffffff;
}
.k-checkbox:indeterminate + .k-checkbox-label:after {
	background-color: white;
	border-color: #005a8c;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #005a8c;
}
.k-checkbox:indeterminate + .k-checkbox-label:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1em;
	height: 1em;
	border-width: 1px;
	border-style: solid;
	-moz-box-shadow: inset 0px 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 0px 2px #fff;
	box-shadow: inset 0px 0px 0px 2px #fff;
	background: #005a8c;
}
.k-checkbox:disabled + .k-checkbox-label:after,
.k-checkbox:checked:disabled + .k-checkbox-label:active:after,
.k-checkbox:disabled + .k-checkbox-label:hover:before,
.k-checkbox:checked:disabled + .k-checkbox-label:hover:after {
	background: #f2f2f2;
	border-color: #b0b0b0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	color: #8b8b8b;
}
.k-radio-label:hover:before {
	background: #c1d7ee;
	border-color: #005a8c;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.k-radio + .k-radio-label:before {
	background: #ffffff;
	border-color: #8b8b8b;
}
.k-radio + .k-radio-label:hover:before {
	background: #c1d7ee;
	border-color: #005a8c;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.k-radio:checked + .k-radio-label:before {
	border-color: #005a8c;
}
.k-radio:checked + .k-radio-label:after {
	background: #005a8c;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.k-radio:checked + .k-radio-label:hover:before {
	background: #c1d7ee;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.k-radio:checked + .k-radio-label:hover:after {
	background: #4397d2;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.k-radio:checked:disabled + .k-radio-label:after {
	background: #8b8b8b;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.k-radio:checked:disabled + .k-radio-label:hover:before {
	background: #f2f2f2;
	border-color: #8b8b8b;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.k-radio:disabled + .k-radio-label:before {
	background: #f2f2f2;
	border-color: #8b8b8b;
}
.k-radio:disabled + .k-radio-label:hover:before {
	border-color: #8b8b8b;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.k-animation-container .k-popup .k-item.k-state-hover {
	border-width: 1px;
}
.popular-list{
	overflow: hidden;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 11px;
	line-height: 14px;
}
.popular-list h4{
	font-weight: 700;
	font-size: 11px;
	line-height: 14px;
	margin: 0;
	position: relative;
}
.popular-list p{
	margin: 0;
}
.popular-list li{
	padding:18px 10px;
	overflow: hidden;
	display: block;
	background: #edebe7;
}
.popular-list li:nth-child(even){
	background-color: #fafaf6;
}
.popular-list .left-col{
	float: left;
	width: 60%;
}
.popular-list .right-col{
	float: left;
	width: 40%;
	text-align: right;
}
.navbar-light .navbar-toggler{
	cursor: pointer;
	float: right;
	margin-top: 20px;
}
@media only screen and (max-width: 1200px) {
	.navbar .nav-link{
		padding: 2.3rem 1rem !important;
	}
	.navlist2 li a{
		padding: 18px 5px;
	}
}
@media only screen and (max-width: 992px) {
	.navbar{
		display: block;
	}
	.navbar .nav-link{
		display: block;
		float: none;
		padding: 0.8rem 1rem !important;
	}
	.navcontainer2{
		overflow-x: auto;
		overflow-y: hidden;
	}
	.navcontainer2-holder{
		
		width: 1000px;
	}
	#sidebar{
		width: 100%;
		float: none;
		display: block;
		overflow: hidden;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-brand{
		width: 80px;
	}
	.navbar-brand img{
		width: 100%;
		height: auto;
		display: block;
	}
	.lang{
		padding: 30px 20px;
	}
	.post-view .image-area,
	.upcoming-links .post .image-holder{
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.upcoming-links .post .image-holder img{
		width: 100%;
	}
	.upcoming-links .post p{
		max-width: 100%;
	}
	.btn-area .btn{
		width: 100%;
		margin-bottom: 5px;
	}
	.meta.last li{
		padding: 0 5px 7px;
	}
}